header {
  height: 100vh;
  overflow: hidden; 
}

#tsparticles {
  height: 600px;
}
.container__header-container {
margin-top: 10rem;
  text-align: center;
  height: 100%;
  position: relative;
}



/* CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */
.header__socials {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME 
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
     comment top-left  top-right bottom-right  bottom left 
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    comment 5rem top, 1.5rem all round 
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}  */

.me {
  margin-top: 10rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color-light);
}

.scroll__down {
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  position: absolute;
  right: -10%;
  bottom: 3.5rem;
}

/* Responsive Design */
/* Media Queries (Medium Devices) Tablets */
@media screen and (max-width: 1024px) {
  .me {
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-light);
  }

  header {
    height: 80vh;
  }

  .cta {
    gap: 1rem;
    margin-top: 0.8rem;
    font-size: 0.9rem;
  }
}

/* Media Queries (small Devices) phones */
@media screen and (max-width: 600px) {
  .me {
    margin-top: 10rem;
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-light);
  }
  header {
    height: 100vh;
  }


}
