.navbar-transparent {
  background: transparent;
  display: flex;
  justify-content: end;
  padding: 0.8rem;
  position: fixed;
  width: 100%;
  animation-name: nav-link-load;
  animation-duration: var(--nav-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

.nav__wrapper {
  background: black;
  display: flex;
  justify-content: end;
  padding: 0.8rem;
  position: fixed;
  width: 100%;
  animation: nav-load var(--nav-load-time) ease-in;
}

/* .nav-items{
  width: auto;
  animation-name: nav-link-load;
  animation-duration: var(--nav-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
} */

nav a {
  padding: 10px;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


