
/*L Desktop*/
@media only screen and (max-width: 3440px) {
  .about__me {
    width: 90%;
    margin: 2rem auto 4rem;
  }

  .about__me-image {
    width: auto;
    height: 100%;
    border-radius: 15rem;
  }

  
}
/* Desktop */
@media only screen and (max-width: 1024px) {
  .about__me {
    width: 90%;
    margin: 2rem auto 4rem;
  }

  .about__me-image {
    width: auto;
    height: 100%;
    border-radius: 15rem;
  }
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .about__container {
    display: flex;
    flex-wrap: wrap;
  }

  .about__me {
    width: 80%;
    height: auto;
    border-radius: 1.5rem;
  }
  .about__me-image {
    width: auto;
    height: 100%;
   border-radius: 15rem;
  }

  .about__card {
    width: 50%;
    padding: 0.7rem;
  }

  .about__cards {
    display: flex;
    grid-template-columns: auto;
    gap: 1rem;
  }

  .about-text {
    margin: 1rem 0 1.5rem;
  }
}
