
.container.experience_container{
    width: 58%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.experience__skill {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.experience__skill:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.container.experience__work {
    width: 58%;
    display: absolute;
    flex-direction: row;
    gap: 5%;
}

.work__content {
    background: transparent;
    border-color: var(--color-primary-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.work__content {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.work__details {
    text-align: left;
}

.work__details h3 {
    padding-top: 1rem;
}
.position {
    text-align: left;
}


/* Responsive Design */
/* Media Queries (Medium Devices) Tablets */
@media screen and (max-width: 1024px) {

    #experience{
        margin-top: 33rem;
    }

   .container.experience_container{ 
    width: 85%;
    height: 26%;
    gap: 2%;
    font-size: 0.8rem;
    }

    .container.experience__work {
    margin-top: 3rem;
    width: 90%;
    display: absolute;
    flex-direction: row;
    gap: 5%;
    font-size: 0.8rem;
}


}

/* Media Queries (small Devices) phones */
@media screen and (max-width: 600px) {
    #experience{
        margin-top: 30rem;
    }
    .container.experience_container{ 
    width: 85%;
    height: 33%;
    gap: 2%;
    font-size: 0.8rem;
    }

.container.experience__work {
    margin-top: 3rem;
    width: 85%;
    display: absolute;
    flex-direction: row;
    gap: 5%;
    font-size: 0.7rem;
}

}

